/*==================================Setting css variables =================================*/

:root{
    --bg-color: #13151a;
    --text-color: #e6e6e6;
    --color-gray: #231cfebe;
    ---color-gray-2: #a39d9d39;
    --color-gray-3: 161D6F;
    --color-belge:rgb(255 237 213);
    --color-blue-light: #DBEAFE;
    --color-blue: #3B82F6;
    --color-green-light:#DCFCE7;
    --color-green: #22C55E;
    --color-yellow-light:#FFEDD5;
    --color-yellow:#F97A21;
    --color-red-light: #FEE2E2; 
    --color-red: #EF4444;


    /* Gradient flow from top to bottom */
    --gradient-start: #00E5FF;     /* Cyan - Start */
    --gradient-2: #33EADB;         /* Cyan -> Mint */
    --gradient-3: #66F0B8;         /* Mint -> Green */
    --gradient-ui: #98F595;        /* Middle point - Used for UI */
    --gradient-5: #CCFA72;         /* Green -> Yellow */
    --gradient-6: #FFE573;         /* Yellow -> Gold */
    --gradient-end: #FFCC50;       /* Gold - End */
    --glass-bg: rgba(19, 21, 26, 0.7);
    --code-font: 'JetBrains Mono', monospace;
    --transition: transform 0.3s ease;
}

/*=================================== GENERAL ================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-style: none;
    list-style: none;
    font-family: var(--code-font);
}

body{
    background: var(--bg-color);
    color: var(--text-color);

    line-height: 1.6;
    overflow-x: hidden;
}
button{
    cursor: pointer;
}
.container {
    max-width: 1600px;
    margin-inline:auto;
    width: 900px;
}

/*=================================== NAVBAR ================================*/
nav{
    width: 100%;
    height: 5rem;
    position: fixed;
    z-index: 90;
    top: 0;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    border-bottom: .5px solid var(--gradient-2);
}
.scrolled {
    background: rgba(19, 21, 26, 0.7); /* Darker background */
    backdrop-filter: blur(10px);
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 0;
    
}

.nav__container span, footer span {
    color: var(--gradient-start);
}


.nav__menu{
    font-size: 2rem;
    background: var(--bg-color);
    color: var(--text-color);
}

.nav__menu:hover{
   color: var(--gradient-start);
}

.nav__notification{
    width: fit-content;
    color:  var(--gradient-6);
    background: var(--color-gray);
    border: .5px solid var(--gradient-end);
    padding: 2px .7rem;
    border-radius: 10px;
    z-index: 100;
    position: absolute;
    top:4rem;
    left: 50%;     /* Move the element's left edge to 50% of the viewport */
    transform: translateX(-50%);   /* Shift it back by 50% of its own width */  
}

/*=================================== MENU OVERLAY ================================*/
.menu-overlay__section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s ease, visibility 0.1s ease;
    z-index: 1000;
}

.menu-overlay__section.active{
    opacity: 1;
    visibility: visible;
}

/* Disable scrolling when menu is active */
body.no-scroll {
   overflow: hidden;
   
}

.menu-overlay__container{
    width: 32rem;
    height: 32rem;
    padding:1.5rem;
    border-radius: 1.5rem;
    background: var(--bg-color);
}

.menu-overlay__header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close__btn{
    background: transparent;
    border: none;
    font-size: 1.8rem;
    color: var(--text-color);
}

.close__btn:hover{
    color: var(--gradient-2);
}
.menu-overlay__grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
}

.menu-overlay__box{
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: var(---color-gray-2);
    width:6rem;
    height: 6rem;
    border-radius: .5rem;
}

@keyframes questionMarkMotion {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg); 
    }
    50% {
        transform: rotate(10deg); 
    }
    75% {
        transform: rotate(-5deg); 
    }
    100% {
        transform: rotate(0deg);
    }
}


.menu-overlay__box:nth-child(1) a{
    background: var(--color-blue-light);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}

.menu-overlay__box:nth-child(2) a{
    background: var(--color-yellow-light);
    color: var(--color-yellow);
    border: 1px solid var(--color-yellow);
}

.menu-overlay__box:nth-child(3) a{
    background: var(--color-green-light);
    color: var(--color-green);
    border: 1px solid var(--color-green);
}

.menu-overlay__box:nth-child(1) a:hover {
    border: 3px solid var(--color-blue);
    animation: questionMarkMotion 0.8s ease-in-out; 
    transition: var(--transition); 
}

.menu-overlay__box:nth-child(2) a:hover {
    border: 3px solid var(--color-yellow);
    animation: questionMarkMotion 0.8s ease-in-out; 
    transition: var(--transition); 
}

.menu-overlay__box:nth-child(3) a:hover {
    border: 3px solid var(--color-green);
    animation: questionMarkMotion 0.8s ease-in-out; 
    transition: var(--transition); 
}


/*=================================== BADGE ================================*/
.badge__section{
    padding-top: 10rem;
    position: relative;
    height: 100vh;
}

.badge{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px; 
    height: 490px; 
    background: linear-gradient(to top, var(--bg-color), var(--color-gray));
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(255,255,255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(10deg); /* Initial tilt */
    transition: var(--transition); /* Smooth transition */
}
/* Hover Animations */
.badge:hover {
    transform: translate(-50%, -50%) rotate(-5deg) scale(1.05); /* Slightly rotate and scale */
}

.badge:hover:active {
    transform: translate(-50%, -50%) rotate(0deg); /* Reset rotation when clicked */
}

.badge__profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.badge__container{
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.badge__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.badge__info-title h1{
    text-align: center;
    font-size: 2rem;
}

.badge__info-title p{
    text-align: center;
    font-size: .9rem;
}

.badge__info-title a{
    text-decoration: underline;
    color: var(---color-gray-2);
    padding-left: 5px;
}
.badge__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    font-size: .8rem;
}

.badge__content-info a{
    color: var(--text-color);
    background: var(--color-gray-3);
    padding: 1px 5px;
}

.badge__qrcode img{
    height: 65px;
    width: 65px;
    border-radius: 10px;
}

/*=================================== JUMPING DIRECTION ================================*/

.jumping-icon {
    position: absolute;          
    bottom: 10px;         
    left: 50%;                /* Center the icon horizontally */
    transform: translateX(-50%); /* Center it properly */
    font-size: 50px;         
    color: var(--gradient-start);           
    animation: jump 1.5s infinite; /* Apply the jumping animation */
}

@keyframes jump {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-20px); /* Jumping effect */
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/*=================================== GATEGORIES ================================*/
.categories{
    margin-top: 2rem;
}

.categories__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.categories__container button{
    padding: .6rem;
    font-size: 1.2rem;
    font-weight: 900;
    background: var(--glass-bg);
    color: var(--text-color);
    border:2px solid var(--text-color);
}

.categories__list{
    display: flex;
    gap: 3px;
}
.categories__list button:hover{
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: var(--transition);
}
.categories__list button:first-of-type{
    border-radius:  15px  0 0 15px;
}

.categories__list button:last-of-type{
    border-radius:  0 15px 15px 0;
}

.categories__recent button{
    border:2px solid var(--gradient-2);
    color: var(--gradient-2);
}
/*=================================== PROJECTS ================================*/
.projects{
    margin-top: 4rem;
}

.projects__container{
    position: relative;
}

.projects__{
    border-top: 2px solid var(--gradient-2);
    margin-bottom: 5rem;
    position: relative;
}
.projects__ h1{
   text-align: center;
   position: absolute;
   font-size: 2rem;
   left: 50%;
   transform: translateX(-50%);
   top: -3%;
   z-index: 2;
   background: var(--bg-color);
   padding: 0 1rem;

}

.projects__content{
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
}

.project{
    height: 500px;
    width: 390px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}


.projects__2024 .project:nth-child(1){
    background: url('images/btc_2024.jpg') no-repeat center center;
    background-size: cover;  /* Scales the image to cover the container */
}

.projects__2024 .project:nth-child(2){
    background: url('images/aoc.jpeg') no-repeat center center;
    background-size: cover;  
}

.projects__2024 .project:nth-child(3){
    background: url('images/blog.png') no-repeat center center;
    background-size: cover;
}

.projects__2024 .project:nth-child(4){
    background: url('images/crao_2024.jpg') no-repeat center center;
    background-size: cover;
}

.projects__2023 .project:nth-child(1){
    background: url('images/sort_visualizer.jpg') no-repeat center center;
    background-size: cover;
}

.projects__2023 .project:nth-child(2){
    background: url('images/projet_cir1.png') no-repeat center center;
    background-size: cover;
}

.projects__2023 .project:nth-child(3){
    background: url('images/aoc_2023.png') no-repeat center center;
    background-size: cover;
}

.project__header{
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem .7rem;
    background: rgba(19, 21, 26, 0.7); 
    backdrop-filter: blur(5px);
    cursor: pointer;

}
.project__header:hover {
    background: #000; 
}
.project__header:hover + .project__info{
    max-height: 500px;  
    opacity: 1;        
    transform: translateY(0); /* Reset position */
}

.project__header i{
    font-size: 1.6rem;
    cursor: pointer;
}
.project__header a{
   color: var(--text-color);
}
.project__info{
    padding: .7rem .7rem;
    background: rgba(19, 21, 26, 0.7); 
    backdrop-filter: blur(10px);
    max-height: 0;        
    opacity: 0;             
    overflow: hidden;       
    transform: translateY(-20px);
    transition: all 0.5s ease .1s;
}
.project__info > div {
    display: flex;
    flex-wrap: wrap;   /* Allow wrapping to new lines */
    gap: 0.5rem;     
}

.project__info div{
    display: flex;
    gap: .5rem;
}

.project__info-category{
    background: var(--gradient-6);
    color: var(--color-gray);
    border-radius: 5px;
    padding: 0 3px;
}
.project__info p{
    margin-top: .5rem;
}
/*=================================== FOOTER ================================*/
footer{
    margin: 3rem 0 7rem 0;
}
.footer__container{
    padding-top: 2rem;
    border-top: 2px solid var(--gradient-2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__container ul{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: .9rem;
    font-size: 1.1rem;
}

.footer__container ul:first-of-type{
    color: #00E5FF;
}
.footer__container ul li a{
    color: var(--text-color);
}

/*=================================== MEDIA QUERIES MOBILE ================================*/
@media screen and (max-width: 600px){

/*=================================== GENERAL ================================*/
.container {
    font-size: .7rem;
    margin-inline:auto;
    width: 100%;
}


/*=================================== NAV ================================*/
.nav__container{
    padding: 0 1.7rem;
}
.nav__menu{
    font-size: 1.4rem;
   
}

.nav__notification{
    font-size: .7rem;
    width: 8rem;
}

/*=================================== TOOLBOX ================================*/
.menu-overlay__container{
    width: 400px;
    height: 600px;
}
.menu-overlay__grid{
    grid-template-columns: repeat(3, 1fr);
}

/*=================================== BADGE ================================*/

.badge{
    width: 290px; 
    height: 430px; 
    transform: translate(-50%, -50%) rotate(8deg); /* Initial tilt */
    transition: var(--transition); /* Smooth transition */
}
/* Hover Animations */
.badge:hover {
    transform: translate(-50%, -50%) rotate(-5deg) scale(1.05); /* Slightly rotate and scale */
}

.badge:hover:active {
    transform: translate(-50%, -50%) rotate(0deg); /* Reset rotation when clicked */
}

.badge__profile{
    width: 140px;
    height: 140px;
  
}


.badge__qrcode img{
    height: 45px;
    width: 45px;
    border-radius: 10px;
}

.badge__info-title h1{
  font-size: 1.7rem;
}
.badge__info-title p{
    font-size: .8rem;
}

.badge__content-info span, a{
    font-size: .7rem;
}
/*=================================== GATEGORIES ================================*/

.categories__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
 
}
.categories__container button{
    font-size: .7rem;
}
/*=================================== PROJECTS ================================*/ 
    .projects__content{
        grid-template-columns: 1fr;
    }

    .project{
        width: 350px;
        height: 500px;
    }

    

}